body{
  margin-Top: 20px;
  
   }
.main-content{
  background-color:#E0E0E0;
   border-radius: 60px;
     border-color: #FFFFFF;
    border-width: 40px;
    border-style: solid;
}
#title{
  font-family:Acme;
  font-size: 80px;
  padding-bottom: 40px;
}
h5{
  font-family: Lobster Two !important;
}
p{
  font-family: Acme;
}
.main-image{
    border-color: #FFFFFF;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
  margin-bottom: 20px;
}
#main-text{
  padding-bottom: 10px;
  font-size: 20px;
}
.years{
  backgroun-color:#606060;
    
}